<link rel = "stylesheet" href = "app.css">

<h1>This is the home page</h1>

<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKgmh1wCEUQVSdebmVeXK6ia_y1XOF4PhBN3I_d3XV5iXE_BK4QQ"></img>
